* {
  box-sizing:border-box;
}

body {
  padding:0px;
  margin:0px;
}

div {
  display:inline-block;
  padding:0px;
  margin-left:-4px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color:#787D5C;
  font-size:65px;
  display:inline-block;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-style:italic;
  font-size:16px;
  text-align:left;
  margin-left:600px;
  margin-top:100px;
  color:#787D5C;
}

p {
  font-family: 'Roboto', monospace;
  color:#1F2213;
  margin-left:600px;
}

img {
  display:inline-block;
}

span {
  padding-bottom: 3px;
  border-bottom: 2px solid #787D5C;
  line-height: 20px;
}

a {
  text-decoration:none;
  color:#1F2213;
}

a:hover {
  color:#787D5C;
}

.container {
  display:flex;
  vertical-align:middle;
  margin-top:100px;
  margin-left:300px;
}

.bottom-container {
  align-content:space-between;
  margin-left:300px;
  vertical-align: middle;
}

@media screen and (max-width:800px) {


}
