* {
  box-sizing:border-box;
}

body {
  padding:0px;
  margin:0px;
}

div {
  display:inline-block;
  padding:0px;
  /* margin-left:-4px; */
}

h1 {
  font-family: 'Rubik', sans-serif;
  color:#787D5C;
  font-size:65px;
  display:inline-block;
  padding:0;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-style:italic;
  font-size:16px;
  text-align:left;
  color:#787D5C;
}

p {
  font-family: 'Roboto', monospace;
  color:#1F2213;
}

img {
  display:inline-block;
}

span {
  padding-bottom: 3px;
  border-bottom: 2px solid #787D5C;
  line-height: 20px;
}

a {
  text-decoration:none;
  color:#1F2213;
}

a:hover {
  color:#787D5C;
}

.main-container {
  display:flex;
  min-height:100vh;
  justify-content:center;
  align-items:center;

}

.left {
  display:flex;
  flex-direction:column;
}


.bottom-container {
  align-content:space-between;
  vertical-align: middle;
}

.mobile {
  display:none;
}

@media screen and (max-width:800px) {
  .main-container {
    flex-direction:column;
    line-height:2em;
    margin-left:20px;

  }

  h1 {
    line-height:1em;
  }

  .mobile {
    display:block;
  }

  .desktop {
    display:none;
  }

  .bottom-container {
    vertical-align:none;
    display:flex;
    flex-direction:row;
  }

  .icon-align {
    display:flex;
    flex-direction:row;
  }
}
