* {
  box-sizing:border-box;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size:75px;
  padding:0;
  margin:0;
  color:#EFC874;
}

h1:hover {

}

h2 {
  font-family: 'Rubik', sans-serif;
  display:inline-block;
  margin:1em;
  padding:0;
  color:#EFC874;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-style:italic;
  font-size:16px;
  text-align:left;
  margin-left:26%;
  color:#EBD5C6;
}

p {
  font-family: 'Roboto Mono', monospace;
  text-align:left;
  margin-left:26%;
  line-height:2px;
  color:#EBD5C6;
}

body {
  margin-top:50px;
  margin-left:50px;
  margin-bottom:10px;
  text-align:center;
  background:#597994;
}

h2>a {
  text-decoration:none;
  color:#EBD5C6;
}

h2 > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:#EFC874;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover::before {
  visibility: visible;
  color:#EFC874;
  transform: scaleX(1);
}

a:hover {
  position:relative;
  color:#EFC874;
}

span {
  padding-bottom: 3px;
  border-bottom: 2px solid #EFC874;
  line-height: 20px;
}

a {
  text-decoration:none;
  color:#EBD5C6;
  cursor:pointer;
}

@media screen and (max-width:800px) {
  body {
    text-align:left;
    margin-left:25px;
  }

  p {
    margin-left:0px;
    line-height:2em;
  }

  h3 {
    margin-left:0px;
  }

  h2 {
    margin-left:0px;
  }

}
