* {
  box-sizing:border-box;
}

body {
  padding:0px;
  margin:0px;
}

div {
  display:inline-block;
  padding:0px;
  /* margin-left:-4px; */
}

a {
  cursor:cell;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color:#787D5C;
  font-size:65px;
  display:inline-block;
  padding:0;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-style:italic;
  font-size:16px;
  text-align:left;
  color:#787D5C;
}

p {
  font-family: 'Roboto', monospace;
  color:#1F2213;
}

img {
  display:inline-block;
}

a {
  color:#1F2213;
  text-decoration:none;
}

.main-container {
  display:flex;
  min-height:100vh;
  min-width:100vw;
  justify-content:center;
  align-items:center;

}

.left {
  display:flex;
  flex-direction:column;
}

.bottom-container {
  align-content:space-between;
  vertical-align: middle;
  margin-top:20px;
  margin-left:20px;
}

.mobile {
  display:none;
}

.music {
  display:flex;
  flex-direction:column;
}

abbr[title] {
  border-bottom:none !important;
  text-decoration:none !important;
  cursor:inherit !important;
}

.r-link{
	display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
	color: var(--rLinkColor) !important;
	text-decoration: var(--rLinkTextDecoration, none) !important;
}

.text-underlined{
    /*
        1. I use pixels units because others units (em, rem, vw, vh, etc) can
        lead to the mistake of displaying a circumcised line
    */

    --uiTextUnderlinedLineHeight: var(--textUnderlinedLineHeight, 2px); /* 1 */
    --uiTextUnderlinedLineGap: var(--textUnderlinedLineGap, .5rem);
    --uiTextUnderlinedPaddingBottom: calc(var(--uiTextUnderlinedLineHeight) + var(--uiTextUnderlinedLineGap));

    padding-bottom: var(--uiTextUnderlinedPaddingBottom) !important;
    position: var(--textUnderlinedPosition, relative) !important;
		z-index: var(--textUnderlinedZindex, 1) !important;
}

.text-underlined::after{
    content: "";
    width: var(--textUnderlinedLineWidht, 100%) !important;
    height: var(--uiTextUnderlinedLineHeight) !important;
		background-image: var(--textUnderlinedBackgroundImage, linear-gradient(to top, var(--textUnderlinedLineColor, currentColor) 30%, rgba(0, 0, 0, 0) 45%)) !important;

    position: absolute;
    left: var(--textUnderlinedLineLeft, 0) !important;
    bottom: var(--textUnderlinedLineBottom, 0) !important;
		z-index: var(--textUnderlinedLineZindex, -1) !important;
}

/*
=====
CORE
=====
*/

.link{
	--textUnderlinedLineHeight: 100%;
	--textUnderlinedLineGap: 0;
	--textUnderlinedLineColor:rgba(153, 182, 255, 0.8);

	padding-left: .75rem;x
	padding-right: .75rem;
}

.link::after{
	will-change: width;
	transition: width .1s ease-out;
	transform: rotate(-2deg);
	transform-origin: left bottom;
}

.link:hover{
	--textUnderlinedLineWidht: 0;
  cursor:cell;
}

.link:hover::after{
	transition-duration: .15s;
}

svg:hover {
  fill:#1F2213;
}

@media screen and (max-width:800px) {

  .main-container {
    display:flex;
    flex-direction:column;
    line-height:2em;
    justify-content: flex-start;
    align-items: flex-start;
  }

  h1 {
    line-height:1em;
    width:80vw;
    margin-left:20px;
    font-size:55px;
  }

  h3 {
    margin-left:20px;
  }
  p {
    margin-left:20px;
    width:90vw;
  }
  .mobile {
    display:block;
  }

  .desktop {
    display:none;
  }

  .bottom-container {
    vertical-align:none;
    display:flex;
    flex-direction:row;
  }

  .icon-align {
    display:flex;
    flex-direction:row;
    margin-left:20px;
  }

  .music {
    width:90vw;
    display:flex;
    flex-direction:column;
    margin-left:20px;
    margin-bottom:30px;
  }

  html, body {
  overflow-x: hidden;
  }

  body {
  position: relative
}

}
